<nav id="sidebar" class="sidebar bg-dark">
    <div class="sidebar-header bg-primary">
        <div class="d-flex align-items-center justify-content-between p-3">
            <h4 class="text-white mb-0">
                <i class="ph ph-tree me-2 sidebar-logo-icon"></i>
                <span class="sidebar-logo-text">AgroLab</span>
            </h4>
            <button type="button" id="sidebarClose" class="btn btn-light sidebar-close d-lg-none">
                <i class="ph ph-x"></i>
            </button>
            <button type="button" id="sidebarCollapse" class="btn btn-light sidebar-toggle d-none d-lg-block">
                <i class="ph ph-list"></i>
            </button>
        </div>
    </div>

    <div class="sidebar-content">
        <ul class="list-unstyled components pt-3">
            <li class="active">
                <a href="/Home/Index" class="sidebar-link">
                    <i class="ph ph-speedometer me-3"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#gestionSubmenu" data-bs-toggle="collapse" aria-expanded="false"
                   class="sidebar-link dropdown-toggle">
                    <i class="ph ph-clipboard-text me-3"></i>
                    <span>Gestión</span>
                </a>
                <ul class="collapse list-unstyled" id="gestionSubmenu">
                    <li>
                        <a href="/Actividad/Index" class="sidebar-subitem">
                            Actividades
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#administracionSubmenu" data-bs-toggle="collapse" aria-expanded="false"
                   class="sidebar-link dropdown-toggle">
                    <i class="ph ph-building me-3"></i>
                    <span>Administración</span>
                </a>
                <ul class="collapse list-unstyled" id="administracionSubmenu">
                    <li>
                        <a href="/Campo/Index" class="sidebar-subitem">
                            Campos
                        </a>
                    </li>
                    <li>
                        <a href="/Campania/Index" class="sidebar-subitem">
                            Campañas
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#reportesSubmenu" data-bs-toggle="collapse" aria-expanded="false"
                   class="sidebar-link dropdown-toggle">
                    <i class="ph ph-chart-bar me-3"></i>
                    <span>Reportes</span>
                </a>
                <ul class="collapse list-unstyled" id="reportesSubmenu">
                    <li>
                        <a href="/Reporte/Index" class="sidebar-subitem">
                            Reporte 1
                        </a>
                    </li>
                    <li>
                        <a href="/Reporte/Index" class="sidebar-subitem">
                            Reporte 2
                        </a>
                    </li>
                    <li>
                        <a href="/Reporte/Index" class="sidebar-subitem">
                            Reporte 3
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/Configuracion/Index" class="sidebar-link">
                    <i class="ph ph-sliders me-3"></i>
                    <span>Configuración</span>
                </a>
            </li>
        </ul>
    </div>
</nav>