<div class="dropdown me-5">
    <button class="btn btn-success btn-circle dropdown-toggle"
            type="button" id="addDropdown" data-bs-toggle="dropdown"
            aria-expanded="false">
        <i class="bi bi-plus-lg text-white"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-contextual shadow border-0"
        aria-labelledby="addDropdown">
        <li>
            <a class="dropdown-item dropdown-item-contextual" href="#">
                <i class="bi bi-tree-fill"></i>Agricultura
            </a>
            <ul class="list-unstyled submenu">
                <li><a class="dropdown-item dropdown-item-contextual" href="#">Siembra</a></li>
                <li><a class="dropdown-item dropdown-item-contextual" href="#">Pulverización</a></li>
                <li><a class="dropdown-item dropdown-item-contextual" href="#">Refertilización</a></li>
                <li><a class="dropdown-item dropdown-item-contextual" href="#">Riego</a></li>
                <li><a class="dropdown-item dropdown-item-contextual" href="#">Monitoreo</a></li>
                <li><a class="dropdown-item dropdown-item-contextual" href="#">Cosecha</a></li>
                <li><a class="dropdown-item dropdown-item-contextual" href="#">Otros Labores</a></li>
            </ul>
        </li>
        <li><hr class="dropdown-divider dropdown-divider-contextual"></li>
        <li>
            <a class="dropdown-item dropdown-item-contextual" href="#">
                <i class="bi bi-cloud-sun"></i>Clima
            </a>
            <ul class="list-unstyled submenu">
                <li><a class="dropdown-item dropdown-item-contextual" href="#">Lluvia</a></li>
                <li><a class="dropdown-item dropdown-item-contextual" href="#">Helada</a></li>
            </ul>
        </li>
        <li><hr class="dropdown-divider dropdown-divider-contextual"></li>
        <li>
            <a class="dropdown-item dropdown-item-contextual" href="#">
                <i class="bi bi-box-seam"></i>Insumos
            </a>
            <ul class="list-unstyled submenu">
                <li><a class="dropdown-item dropdown-item-contextual" href="#">Uso De Insumos</a></li>
                <li><a class="dropdown-item dropdown-item-contextual" href="#">Ingreso de Insumos</a></li>
            </ul>
        </li>
    </ul>
</div>